<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <connectionStrings>
        <add name="myDb" connectionString="Server=.;Database=TCPtest;User Id=********;Password=********;" providerName="System.Data.SqlClient" />
    </connectionStrings>
  <appSettings>
    <add key="stproc_VehicleInsert" value="VehicleInsert"/>
    <add key="stproc_VehicleSelectById" value="VehicleSelectById"/>
  </appSettings>
</configuration>